<div class="product-container" *ngFor="let product of products; index as i; trackBy: trackStockByCode">
	<div class="product"><h3>{{ product.name }} - £{{ product.price }}</h3></div>
	<div class="image"><img src="{{ product.imageurl }}"></div>
	<hr>
	<div class="quantity"><button (click)="subQuantity($event, i)" *ngIf="!product.quantity==0">-</button>  {{ product.quantity }}  <button (click)="addQuantity($event, i)">+</button></div>
	<hr>
	<div [class]="product.sale ? 'OnSale' : 'NotOnSale'">On Sale <input (click)="toggleSale($event, i)" type="checkbox" name="sale"></div>
</div>