.product-container {
	border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
}

img {
	width: 500px
}

.OnSale {
	background-color: limegreen;
}

.NotOnSale {
	background-color: white;
}